.main-div {
  display: flex;
  align-items: center;
  margin-top:30px ;
  gap: 105px;
}

.formField{
  display: flex;
  align-items: center;
  gap: 214px;
  border-radius: 50px;
}

mat-label{
  color: #ffffff;
  font-family: 'Sofia Sans Condensed';
  font-weight: bold;
  font-size: 20px;
}
mat-form-field{
  width: 306px;
  height: 70px;
}

.label {
  font-weight:bolder;
  font-size: 32px;
  margin-left: 105px;
  color:#362D88;
  font-family: 'Sofia Sans Condensed';
}
