.changePasswordForm{
    background-color: white;
    margin: 100px auto 0 auto;
    width: 550px;
    height: 550px;
    border-radius: 50px;
    font-family: 'Sofia Sans Condensed';
}

.changePasswordHeader{
    padding-top: 35px;
    font-size: 40px;
    font-weight: bold;
    color: #362D88;
    margin-bottom: 15px;
    text-align: center;
}

.firstDivider{
    width: 550px;
    height: 2px;
    background-color: #362D88;
    margin-bottom: 5px;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.done{
    width: 515px;
    height: 65px;
    margin-top: 45px;
    border-radius: 15px;
    border: none;
    font-family: 'Sofia Sans Condensed';
    font-size: 32px;
    font-weight: bold;
    background-color: #362D88;
    color: white;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
}

.done:hover{
    background-color: #4b448b;
}

.done:active{
    background-color: #5951a5;
}

label{
    font-size: 24px;
    font-weight: bold;
    color: #362D88;
    margin-top: 5px;
    margin-bottom: 5px;
}

input{
    width: 500px;
    height: 50px;
    background-color: #ECECEC;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #8480AA;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

input:hover{
    transform: scale(1.01);
}

input:focus{
    outline: 2px solid #362D88;
}