:host {
    height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationData {
    width: 1100px;
    height: 550px;
    background: white;
    border-radius: 50px;
    padding: 30px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Sofia Sans Condensed';
    font-weight: bold;
    font-size: 24px;
    gap: 50px;
    color: #362D88;
}

.sectionsWrapper {
    display: flex;
    gap: 35px;
}

.fieldName {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    height: 35px;
}

.inputField {
    width: 500px;
    height: 50px;
    background-color: #ECECEC;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #8480AA;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.inputField:hover{
    transform: scale(1.01);
}

.inputField:focus{
    outline: 2px solid #362D88;
}


.verticalDivider{
    width: 2px;
    height: 385px;
    background-color: #362D88;
    flex-shrink: 0;
}

.horizontalDivider{
    width: 500px;
    height: 2px;
    background-color: #362D88;
    margin-top: 10px;
}

.registerButton {
    display: block;
    width: 500px;
    height: 65px;
    margin: 0 auto;
    color: white;
    font-family: 'Sofia Sans Condensed';
    font-weight: bold;
    font-size: 32px;
    border: none;
    border-radius: 15px;
    background-color: #362D88;
    text-align: center;
    line-height: 65px;
    box-shadow: 0 6px 15px rgb(0,0,0,0.5);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.registerButton:hover{
    background-color: #4b448b;
    transform: scale(1.01);
}

.registerButton:active{
    background-color: #5951a5;
}

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictureSection {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    column-gap: 30px;
}

.pictureText {
    display: flex;
    flex-direction: column;
    height: 35px;
}

.userPic{
    height: 239px;
    width: 239px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.userPic:hover {
    transform: scale(1.05);
}

.info{
    font-family: 'Sofia Sans Condensed';
}

#email-label{
    margin-top: 5px;
}

.first-step{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.steps-label{
    display: flex;
    flex-direction: row;
    width: 186px;
    justify-content: space-between;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    color: #362D88;
    font-weight: bold;
    margin-bottom: 5px;
}

.steps1{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
}

.circle-unfilled{
    width: 28px;
    height: 28px;
    background-color: #ECECEC;
    border-radius: 14px;
}

.circle-filled{
    width: 14px;
    height: 14px;
    background-color: #362D88;
    border-radius: 7px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line{
    height: 3px;
    width: 150px;
    background-color: #ECECEC;
}

.second-step{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vehicleInfoForm{
    background-color: white;
    margin: auto;
    width: 1130px;
    height: 580px;
    border-radius: 50px;
    font-family: 'Sofia Sans Condensed';
}

.vehicleInfoHeader{
    position: relative;
    padding-top: 40px;
    padding-left: 40px;
    font-size: 40px;
    font-weight: bold;
    color: #362D88;
    margin-bottom: 35px;
}

.firstDivider{
    width: 1100px;
    height: 2px;
    background-color: #362D88;
}

.secondDivider{
    width: 2px;
    height: 258px;
    background-color: #362D88;
    margin: 15px auto 0px auto;
    padding-top: 20px;
}

.formWrapper{
    display: flex;
    flex-direction: row;
}

.formContentLeft{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 25px;
}

.formButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 700px;
    justify-content: space-between;
    margin-top: 42px;
    margin-left: auto;
    margin-right: auto;
}

.saveChanges{
    width: 320px;
    height: 60px;
    border-radius: 15px;
    border: none;
    font-family: 'Sofia Sans Condensed';
    font-size: 24px;
    font-weight: bold;
    background-color: #362D88;
    color: white;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
}

.saveChanges:hover{
    background-color: #4b448b;
}

.saveChanges:active{
    background-color: #5951a5;
}

.revertChanges{
    width: 320px;
    height: 60px;
    border-radius: 15px;
    border-color: #362D88;
    font-family: 'Sofia Sans Condensed';
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: #362D88;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.2);
}

.revertChanges:hover{
    background-color: #e3dfff;
}

.revertChanges:active{
    background-color: #d3ceff;
}

.formContentRight{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 25px;
}

.labels{
    font-size: 24px;
    font-weight: bold;
    color: #362D88;
    margin-top: 5px;
    margin-bottom: 5px;
}

.inputs{
    width: 485px;
    height: 50px;
    background-color: #ECECEC;
    border: none;
    border-radius: 15px;
    color: #8480AA;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.inputs:hover{
    transform: scale(1.01);
}

.inputs:focus{
    outline: 2px solid #362D88;
}

.radio{
    width: 140px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-form-field{
    width: 500px;
}

mat-label{
    color: #8480AA;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    font-weight: bold;
}

mat-option{
    color: #8480AA;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    font-weight: bold;
}

#licensePlate{
    margin-top: 25px;
}

.hidden{
    display: none;
}