/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    min-height: 100vh;
    background: linear-gradient(
        to bottom,
        #ffffff 0%,
        #362D88 100%
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
}