<div class="filters">
  <app-date-filter
  (dateChanged)="filterByDate($event)">
  </app-date-filter>
  
  <hr class="divider">
  <app-sort-filter (sortChanged)="sortRides($event)"></app-sort-filter>
</div>

<div class="carousel-wrapper">
  <button class="nav left" (click)="scrollLeft()">‹</button>

  <div class="ride-list" #carousel>
    <app-ride-card-user
      *ngFor="let ride of rides"
      [ride]="ride"
      (moreInfo)="openRideDetails($event)"
    ></app-ride-card-user>
  </div>

  <button class="nav right" (click)="scrollRight()">›</button>
</div>

<app-ride-details
  *ngIf="selectedRide"
  [passengers]="selectedRide.passengers"
  (close)="closeRideDetails()"
></app-ride-details>