.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(2px);
    z-index: 1000;
}

.loginForm {
    display: block;
    width: 500px;
    height: 500px;
    font-family: 'Sofia Sans Condensed';
    color: #362D88;
    margin: 0 auto;
    position: fixed;
    inset: 0;
    z-index: 1001;
}

.credentials {
    width: 500px;
    height: 400px;
    background: white;
    border-radius: 50px;
    padding: 50px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yourCredentialsText {
    font-size: 48px;
    font-weight: 800;
    color: #362D88;
    margin-left: 70px;
}

.divider {
    height: 5px;
    width: 600px;
    background-color: #362D88;
    margin: 10px -50px 25px -50px;
}

.email, .password {
    font-size: 32px;
    font-weight: bold;
    color: #362D88;
}

.emailInput, .passwordInput {
    height: 50px;
    width: 100%;
    font-size: 30px;
    border-radius: 20px;
    padding-left: 10px;
    background-color: #ECECEC;
    font-family: 'Sofia Sans Condensed';
    border: none;
    margin-bottom: 20px;
}

.forgotPassword {
    display: inline-block;
    transition: 0.2s ease;
    border-radius: 7px;
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color: #5044b9;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 250px;
}

.forgotPassword:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.forgotPassword:active {
    background-color: #e2e1e9;
}

.resetText {
    margin-top: 20px;
    text-align: center;
    font-size: 32px;
    color: white;
}

.resetButton {
    margin-top: 20px;
    text-align: center;
    font-family: 'Sofia Sans Condensed';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: #362D88;
    border: none;
    border-radius: 25px;
    width: 50%;
    height: 50px;
}

.resetButton:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.resetButton:active {
    background-color: #b6b2d4;
}

.loginButton {
    font-family: 'Sofia Sans Condensed';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: #362D88;
    border: none;
    border-radius: 25px;
    width: 103%;
    height: 80px;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.loginButton:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.loginButton:active {
    background-color: #b6b2d4;
}