@if(isLoginOpen) { 
    <app-login 
        (close)="closeLogin()" 
        (loggedIn)="onLoggedIn()">
    </app-login>
}
<header>
    <div class="leftItems">
        <div class="logo">021Ride</div>
        @if(isRegistrationOpen && !isLoggedIn){
            <div class="home"><a (click)="closeRegistration()" routerLink="HomePage">Home</a></div>
        }
        @if(isLoggedIn){
            <div class="home"><a routerLink="HomePage">Home</a></div>
            <div class="profile" [matMenuTriggerFor]="menu">Profile▾</div>
            <mat-menu #menu="matMenu" id="profileMenu">
                <button mat-menu-item [routerLink]="['/personal-info']">Personal information</button>
                <button mat-menu-item [routerLink]="['/change-password']">Change Password</button>
                @if(role == "DRIVER"){ 
                    <button mat-menu-item [routerLink]="['/vehicle-information']">Vehicle information</button>
                    <button mat-menu-item [routerLink]="['/driver-registration']">Driver registration</button>
                    <button mat-menu-item [routerLink]="['/driver-pass-activation']">Driver password activation</button>
                    <button mat-menu-item [routerLink]="['/rides-list']">Ride history (Driver)</button>
                }
                @if(role == "ADMIN"){
                    <button mat-menu-item [routerLink]="['/panic-notifications']">Panic notifications</button>
                    <button mat-menu-item [routerLink]="['/scheduled-rides']">Scheduled rides</button>                    
                    <button mat-menu-item [routerLink]="['/rides-list-admin']">Ride history (Admin)</button>
                    <button mat-menu-item [routerLink]="['/admin-ride-monitor']">Rides monitoring</button>
                }
                @if(role=="PASSENGER"){
                    <button mat-menu-item [routerLink]="['/scheduled-rides']">Scheduled rides</button>
                    <button mat-menu-item [routerLink]="['/rides-list-user']">Ride history (User)</button>
                }
            </mat-menu>
            @if(role == "PASSENGER"){
                <div class="currentRide"><a routerLink="/ride-in-progress">Track ride</a></div>
            }
            @if(role=="DRIVER"){
                <div class="profile" [matMenuTriggerFor]="menu">Rides▾</div>
                <mat-menu #menu="matMenu" id="rideMenu">
                    <button mat-menu-item [routerLink]="['/scheduled-rides']">Scheduled rides</button>
                    <button mat-menu-item [routerLink]="['/end-of-ride']">End ride</button>
                </mat-menu>
                <div class="currentRide"><a routerLink="/ride-in-progress-driver">Track ride</a></div>
            }
        }
    </div>
    <div class="rightItems">
        @if(isLoggedIn){
            @if(role == "DRIVER"){
                <mat-button-toggle-group class="activityLabelGroup" id="activeLabelGroup">
                    <mat-button-toggle style="background-color: green;" class="activityLabelButton" id="activeLabel" [value]="true" 
                        (click)="setActive(true)" [checked]="isActive">Active</mat-button-toggle>
                    <mat-button-toggle style="background-color: red;" class="activityLabelButton" id="inactiveLabel" [value]="false" 
                        (click)="setActive(false)" [checked]="!isActive">Inactive</mat-button-toggle>
                </mat-button-toggle-group>
                <div class="divider"></div>
            }   
            <button class="logout" (click)="logout()"><a routerLink="/HomePage">Logout</a></button>
        } @else if (isRegistrationOpen) {
            <p class="hasAcc">Already have an account?</p>
            <button class="login" (click)="openLogin()">Login</button>
        } @else{
            <p class="noAcc">Don't have an account?</p>
            <button class="register" routerLink="/register" (click)="openRegistration()">Register</button>
            <div class="divider"></div>
            <button class="login" (click)="openLogin()">Login</button>
        }
    </div>
</header>
<router-outlet/>

