header {
    height: 100px;
    width: 100%;
    min-width: max-content;
    font-family: 'Sofia Sans Condensed';
    display: flex;
    align-items: center;
    justify-content: space-between; 
    background: #362D88;
    color: white;
}

.leftItems{
    display: flex;
    align-items: center;
}

.logo{
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    margin-left: 50px;
    text-shadow: 0 6px 15px rgb(0, 0, 0);
}

.home{
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-left: 25px;
    margin-top: 9px;
}

.home:hover{
    color: #b6b2d4;
}

.home:active{
    color: #8781b3;
}

.profile{
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-left: 25px;
    margin-top: 19px;
    padding-bottom: 10px;
}

.profile:hover{
    color: #b6b2d4;
    cursor: pointer;
}

.profile:active{
    color: #8781b3;
}

.rightItems{
    display: flex;
    align-items: center;
}

.noAcc {
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    margin-right: 15px;
}

.login{
    color: #362D88;
    font-family: 'Sofia Sans Condensed';
    font-weight:bold;
    font-size: 24px;
    border: white;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-right: 50px;
    margin-left: 10px;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.login:hover{
    box-shadow: 0 10px 25px rgb(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.login:active{
    background-color: #b6b2d4;
}

.register{
    color: #362D88;
    font-family: 'Sofia Sans Condensed';
    font-weight:bold;
    font-size: 24px;
    border: white;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-right: 10px;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.register:hover{
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.register:active{
    background-color: #b6b2d4;
}

.divider {
    width: 1px;
    height: 70px;
    background-color: white;
    margin: 0 10px;
}

.hasAcc{
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
        margin-right: 5px;
}

.logout{
    color: #362D88;
    font-family: 'Sofia Sans Condensed';
    font-weight:bold;
    font-size: 24px;
    border: white;
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-right: 50px;
    margin-left: 10px;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.logout:hover{
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.logout:active{
    background-color: #b6b2d4;
}

.activityLabelGroup{
    margin-right: 10px;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
}

.activityLabelButton{
    font-family: 'Sofia Sans Condensed';
    font-weight: bold;
    font-size: 24px;
    color: white;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.activityLabelButton:hover{
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.5);
    transform: scale(1.1);
}

a{
    text-decoration: none;
    color: inherit;
}
