.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999!important;
}

.modal {
  background: #fff;
  width: 450px;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  z-index: 1000000!important; 
  font-family: 'Sofia Sans Condensed';
}

h1 {
  font-size: 36px!important;
  margin-bottom: 0px;
  color: #3b2e83;
  font-weight: bolder;
}


.rating-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.rating-section p {
  margin-bottom: 8px;
  font-weight: 600;
  color: #3b2e83;
}
.texts{
  font-family:'Sofia Sans Condensed'; 
  font-weight: bold;
  font-size: 25px;
  color: #3b2e83;
}
.stars {
  display: flex;
  gap: 6px;
  font-size: 26px;
  cursor: pointer;
}

.stars span {
  color: #ccc;
  transition: color 0.2s;
}

.stars span.active {
  color: #f5b301;
}

textarea {
  width: 90%;
  min-height: 90px;
  padding: 10px;
  background-color: #ECECEC;
  font-family: 'Sofia Sans Condensed'!important;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 16px;
  font-size: 20px;
}

.submit-btn {
  width: 75%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  background: #3b2e83;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.submit-btn:disabled {
  background: #aaa;
  cursor: not-allowed;
}
