:host {
  position: absolute;  /* ovo pozicionira celu komponentu apsolutno unutar roditelja */
  top: 120px;          /* koliko odozgo da stoji */
  left: 24px;    
  height: 100%;      /* koliko sa leve strane */
  z-index: 1000;       /* iznad mape */
  display: block;
}

.card {
  background-color: rgba(249, 243, 243, 0.8); /* providna pozadina */
  border-radius: 20px;
  padding-left:10px;
  padding-top: 5px;
  width: 295px;
  height: 350px;
  text-align: left;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
  font-family: 'Sofia Sans Condensed'!important;
}

.texts{
    font-size: 25px;
    padding-left: 15px;
    color:#362D88;
    font-weight: bold;
    opacity: 100%!important;
}

.primary{
  width: 90%;
  height: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  background: #362D88;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 100%!important;
  font-family: 'Sofia Sans Condensed';
}

.material-icons{
  padding-right: 5px;
}

/*MODAL*/
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-card {
  background: #fff;
  width: 500px;
  height: 500px;
  border-radius: 12px;
  padding: 16px;
  font-family: 'Sofia Sans Condensed';
}

.modal-card h3 {
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: #362D88;
  font-weight: bolder;
  font-family: 'Sofia Sans Condensed';
}

.modal-card hr {
  margin: 7px 0;
}

textarea {
  width: 100%;
  background-color: #ECECEC;
  border-radius: 5%;
  height: 55%;
  font-size: 26px;
  resize: none;
  padding: 8px;
  box-sizing: border-box;
  font-family: 'Sofia Sans Condensed';
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 18px;
  margin-top: 12px;
}
.secondary{
  border-radius: 20%;
  font-family: 'Sofia Sans Condensed';
  width: 33%;
  font-size: 22px;
  font-weight: bold;
}

.change{
  text-align: center;
  font-size: 30px;
  font-family: 'Sofia Sans Condensed';
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #362D88;
}