/* centriranje cele strane */
.page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 40px 16px;
  margin-top: 100px;
  font-family: 'Sofia Sans Condensed';
}

/* card da izgleda kao admin panel */
.price-card {
  width: 100%;
  max-width: 920px;
  border-radius: 16px;
  box-shadow: 0 14px 40px rgba(0, 0, 0, 0.18);
  padding: 8px;
  height: 400px;
}

/* malo lepši header spacing */
mat-card-header {
  padding: 8px 8px 0 8px;
  justify-content: center;
}

mat-card-title {
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 0.2px;
  color: #362D88;
  margin-bottom: 10px;

}

/* sadržaj */
.form {
  padding: 8px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px 18px;
  margin-top: 8px;
}

/* da inputi imaju full width i izgledaju uredno */
mat-form-field {
  width: 100%;
  height: 90px;
}
mat-label{
    font-size: 33px;
    font-family: 'Sofia Sans Condensed';
}

.custom-edit-btn {

  border-radius: 15px !important;
  padding: 8px 24px !important;

  background-color: #362D88;
  color: white !important;

  border: none !important;

  font-weight: bold;
  font-size: 30px;
  letter-spacing: 0.3px;
  width: 200px;
  height: 60px;
  transition: 0.25s ease;
}

.custom-edit-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}

mat-card-actions{
    justify-content: center!important;
}
input{
    font-size: 25px!important;
}
/* actions bottom */
.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px 12px 12px;
  gap: 12px;
}

.actions-right {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* responsive */
@media (max-width: 760px) {
  .price-card {
    max-width: 560px;
  }
  .grid {
    grid-template-columns: 1fr;
  }
  .actions {
    flex-direction: column;
    align-items: stretch;
  }
  .actions-right {
    justify-content: flex-end;
  }
}
