:host {
    height: calc(100vh - 125px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registrationData {
    width: 1100px;
    height: 550px;
    background: white;
    border-radius: 50px;
    padding: 30px 15px 0px 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Sofia Sans Condensed';
    font-weight: bold;
    font-size: 24px;
    gap: 50px;
    color: #362D88;
}

.sectionsWrapper {
    display: flex;
    gap: 35px;
}

.fieldName {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    height: 35px;
}

.inputField {
    width: 500px;
    height: 50px;
    background-color: #ECECEC;
    border: none;
    outline: none;
    border-radius: 15px;
    color: #8480AA;
    font-family: 'Sofia Sans Condensed';
    font-size: 20px;
    font-weight: bold;
    padding-left: 15px;
    margin-bottom: 5px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.inputField:hover{
    transform: scale(1.01);
}

.inputField:focus{
    outline: 2px solid #362D88;
}


.verticalDivider{
    width: 2px;
    height: 385px;
    background-color: #362D88;
    flex-shrink: 0;
}

.horizontalDivider{
    width: 500px;
    height: 2px;
    background-color: #362D88;
    margin-top: 10px;
}

.registerButton {
    display: block;
    width: 500px;
    height: 65px;
    margin: 0 auto;
    color: white;
    font-family: 'Sofia Sans Condensed';
    font-weight: bold;
    font-size: 32px;
    border: none;
    border-radius: 15px;
    background-color: #362D88;
    text-align: center;
    line-height: 65px;
    box-shadow: 0 6px 15px rgb(0,0,0,0.5);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.registerButton:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.registerButton:active {
    background-color: #b6b2d4;
}

.registerConfirmationText {
    text-align: center;
    font-size: 32px;
    color: white;
}

.registerConfirmationButton {
    text-align: center;
    font-family: 'Sofia Sans Condensed';
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: #362D88;
    border: none;
    border-radius: 15px;
    width: 25%;
    height: 50px;
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.registerConfirmationButton:hover {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  transform: scale(1.05);
}

.registerConfirmationButton:active {
  background-color: #b6b2d4;
}

.rightSection {
    display: grid;
    grid-template-rows: auto auto auto auto;
    justify-items: center;
}

.pictureSection {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: start;
    column-gap: 30px;
}

.pictureText {
    display: flex;
    flex-direction: column;
    height: 35px;
}

.userPic{
    height: 90px;
    width: 90px;
    border-radius: 50%;
    margin-top: -5px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.userPic:hover {
    transform: scale(1.05);
}

.info{
    font-family: 'Sofia Sans Condensed';
}