.confirmation-modal{
    width: 500px;
    height: 300px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 25px;
    font-family: 'Sofia Sans Condensed';
    display: flex;
    flex-direction: column;
}

.ride-cost-header{
    font-size: 40px;
    color: #362D88;
    font-weight: bold;
    text-align: center;
    margin: 50px 50px 20px 50px;
}

.separator2{
    height: 2px;
    width: 500px;
    background-color: #362D88;
    margin-bottom: 20px;
}

.continue-question{
    font-size: 32px;
    color: #362D88;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.cost-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yes{
    width: 180px;
    height: 60px;
    border-radius: 25px;
    border: none;
    font-family: 'Sofia Sans Condensed';
    font-size: 32px;
    font-weight: bold;
    background-color: #362D88;
    color: white;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: auto;
}

.yes:hover{
    background-color: #4b448b;
    transform: scale(1.01);
}

.yes:active{
    background-color: #5951a5;
}

.no{
    width: 180px;
    height: 60px;
    border-radius: 25px;
    border: none;
    font-family: 'Sofia Sans Condensed';
    font-size: 32px;
    font-weight: bold;
    background-color: #362D88;
    color: white;
    box-shadow: 0 6px 15px rgb(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: auto;
}

.no:hover{
    background-color: #4b448b;
    transform: scale(1.01);
}

.no:active{
    background-color: #5951a5;
}

.modal-background{
    position: fixed;
    inset: 0; 
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    z-index: 1000; 
}
