.ride-card {
  width: 305px;
  height: 480px;
  background: #ffffff;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  transition: 
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.ride-card:hover{
  transform: translateY(-6px);
  box-shadow: 0 16px 35px rgba(0, 0, 0, 0.25);
}

h1 {
  margin: 0;
  font-size: 26px;
  font-weight: bolder;
  font-family: 'Sofia Sans Condensed';
}

.rating {
  font-size: 14px;
  color: #f4b400;
}

.rating span {
  color: #999;
  margin-left: 6px;
}

hr {
  border: none;
  border-top: 1px solid #e5e5e5;
  margin: 2px 0 2px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

li {
  margin-bottom: 8px;
  font-size: 17px;
  font-family: 'Sofia Sans Condensed';
}
strong{
  font-weight: bolder;
}
.status {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  background: #bf0e0e;
}

.icon.active {
  background: rgb(8, 183, 20);
}

.ride-details-admin, .order {
  margin-top: 8px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #3c2f8f;
  color: white;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Sofia Sans Condensed';
  font-size: 20px;
}