:host {
  position: absolute;  /* ovo pozicionira celu komponentu apsolutno unutar roditelja */
  top: 120px;          /* koliko odozgo da stoji */
  left: 24px;    
  height: 100%;      /* koliko sa leve strane */
  z-index: 1000;       /* iznad mape */
  display: block;
}

.card {
  background-color: rgba(249, 243, 243, 0.8); /* providna pozadina */
  border-radius: 20px;
  padding-left:10px;
  padding-top: 5px;
  width: 295px;
  height: 310px;
  text-align: left;
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.15);
  font-family: 'Sofia Sans Condensed'!important;
}

.texts{
    font-size: 25px;
    padding-left: 15px;
    color:#362D88;
    font-weight: bold;
    opacity: 100%!important;
}

.primary{
  width: 90%;
  height: 60px;
  margin-bottom: 5px;
  margin-top: 5px;
  background: #362D88;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 100%!important;
  font-family: 'Sofia Sans Condensed';
}

.material-icons{
  padding-right: 5px;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 101;
}

.modal-card {
  background: #fff;
  padding: 24px;
  border-radius: 16px;
  flex-direction: column;
  width: 350px;
  font-family: 'Sofia Sans Condensed';
  height: 290px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.modal-title {
  margin: 0 0 12px;
  text-align: center;
  font-family: 'Sofia Sans Condensed';
  color: #362D88;
  font-size: 32px;
  font-weight: bolder;
}

#noRides{
  font-family: 'Sofia Sans Condensed';
  color: #362D88;
  margin-top: 30px;
  margin-bottom: 80px;
  font-size: 28px;
  font-weight: bold;
}
#yesRides{
  font-family: 'Sofia Sans Condensed';
  color: #362D88;
  font-size: 20px;
  text-align: left!important;
}

.change{
  text-align: center;
  font-size: 30px;
  font-family: 'Sofia Sans Condensed';
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #362D88;
}

.setBtn{
  width: 90%;
  height: 60px;
  margin-bottom: auto;
  margin-top: auto;
  background: #362D88;
  font-size: 22px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 15px;
  margin-left: 12px;
  margin-right: 15px;
  cursor: pointer;
  opacity: 100%!important;
  font-family: 'Sofia Sans Condensed';
}